@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1200px;
}

header {
  position: relative;
  height: 100px;
  background-color: #008daa;
  box-shadow: 2.5px 4.33px 5px 0px rgba(0, 0, 0, 0.4);
}

header > div > a {
  font-size: 24px;
  color: #d4d0c8;
  text-decoration: underline;
}

header > div > a:hover {
  color: #eeeeed;
}

.socials > img {
  filter: brightness(0) saturate(100%);
}

.social-header {
  filter: invert(96%) sepia(2%) saturate(1992%) hue-rotate(37deg) brightness(111%) contrast(66%);
}

.social-header:hover {
  filter: invert(90%) sepia(0%) saturate(53%) hue-rotate(153deg) brightness(105%) contrast(95%);
}

.social-btn-b {
  filter: invert(38%) sepia(100%) saturate(3486%) hue-rotate(167deg) brightness(93%) contrast(103%);
}

.social-btn-b:hover {
  filter: invert(45%) sepia(62%) saturate(4576%) hue-rotate(317deg) brightness(98%) contrast(88%);
}

nav > div > ul {
  padding: 3px 0 1px;
}

nav > div > ul > li > a {
  font-size: 18px;
  line-height: 1.333;
  color: #06bac5;
}

nav > div > ul > li > a:hover {
  color: #eb477b;
}

nav, .jumbotron-fluid, .reviews {
  background-color: #eeeeed;
}

.bullet {
  font-size: 32px;
  color: #06bac5;
}

.bullet-wry {
  padding: 0 2px 0 6px;
}

h1, h1 > span {
  padding: 50px 0;
  font-family: 'Philosopher', sans-serif;
  font-size: 55px;
  line-height: 2.04;
  text-align: right;
  color: #005c7b;
}

.jumbotron-fluid {
  height: 920px;
  background: #eeeeed url(img/figure.png) no-repeat 8% 82%;
}

.jumbotron-fluid > div > p {
  padding: 19px 0 1px;
  font-size: 24px;
  font-weight: 500;
  color: #005c7b;
}

.btn {
  padding: 5px 19px 8px;
  font-size: 30px;
  color: #eeeeed;
  background-color: #005c7b;
}

.btn:hover {
  color: #eeeeed;
  background-color: #eb477b;
}

h2 {
  padding: 2em 0 0.5em;
  font-family: 'Philosopher', sans-serif;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #005c7d;
}

.about, .advantages, .reviews {
  height: 1080px;
}

.about > h2 {
  margin-bottom: 1em;
  padding-top: 122px;
}

.about > div {
  padding: 1px 10px 0;
}

.about > div > p {
  padding: .25rem 0 0 .5rem;
  font-size: 24px;
  line-height: 1.25;
  color: #005c7b;
  text-align: justify;
  text-align-last: center;
}

h3 {
  margin-bottom: 14px;
  padding-top: 12px;
  font-family: 'Philosopher', sans-serif;
  font-size: 30px;
  color: #005c7b;
}

.about > div > ul > li > p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.667;
  color: #008daa;
}

.advantages {
  background-color: #eeeeed;
  padding-top: 5px;
}

.advantages > h2 {
  margin: 0 0 9px 3px;
}

.advantages > div {
  margin-left: 4em;
}

.advantages > div > ul {
  font-size: 30px;
  line-height: 3.2;
  color: #005c7b;
}

.fa-li {
  left: -2.9em;
}

.questions {
  height: 1070px;
}

.questions > h2 {
  margin: 7px 6px 18px 0;
}

.accordion {
  margin-right: 90px;
  padding-left: 23px;
}

.card {
  margin-bottom: 30px;
}

.fa-caret-up {
  margin: 5px 13px 0 3px;
  font-size: 30px;
  color: #008daa;
  transition: all 0.3s ease;
}

.card-header.collapsed .fa-caret-up {
  transform: rotate(180deg);
}

.card-header {
  padding: 0;
}

.card-header > span {
  font-family: 'Philosopher', sans-serif;
  font-size: 24px;
  line-height: 0;
  font-weight: 700;
  color: #008daa;
}

.card-body {
  margin: 0 31px 0 0;
  padding: 5px 0 0 3px;
  font-style: oblique;
  font-size: 18px;
  line-height: 1.33;
  color: #005c7d;
}

.collapsed {
  padding-bottom: 15px;
}

.questions > div > p, .questions > div > a {
  margin-bottom: 24px;
  font-family: 'Philosopher', sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: #008daa;
}

.questions > div > a {
  color: #005c7b;
  text-decoration: underline;
}

.reviews > h2 {
  margin: 3px 0 42px 49px;
  padding-top: 124px;
}

.carousel {
  max-width: 1120px;
  padding: 1.75em 1.75em 1.75em 24px;
}

blockquote {
  width: 70%;
}

blockquote > p {
  margin-bottom: 14px;
  font-style: oblique;
  font-size: 18px;
  line-height: 1.333;
  text-indent: 7px;
  color: #005c7b;
}

blockquote > img {
  margin-left: 3.5em;
}

.cite {
  margin: 22px 0 0 2em;
}

.cite, cite {
  font-style: normal;
  font-family: 'Philosopher', sans-serif;
  font-size: 30px;
  line-height: 1;
  color: #008daa;
}

.carousel-control-prev, .carousel-control-next {
  align-items: flex-start;
}

/* должны быть платные far chevron-circle-right и far chevron-circle-left */
.fa-arrow-alt-circle-left, .fa-arrow-alt-circle-right {
  margin-top: 2em;
  font-size: 3em;
  color: #d4d0c8;
}

.contacts {
  height: 897px;
}

.contacts > h2 {
  margin: 6px 6px 1em 0;
}

.parent-outside {
  margin-bottom: 5em;
  padding: 63px 14px 0 16px;
}

.contacts > div > p, .parent-outside > a {
  font-size: 30px;
  font-weight: 500;
  color: #005c7d;
}

.parent-outside > a {
  color: #008daa;
  text-decoration: underline;
}

.hover-link:hover {
  color: #eb477b;
}

.socials-b > p {
  margin-right: 28px;
  padding-top: 37px;
}

.socials-b-list {
  max-width: 670px;
  padding: 2em 70px 0 0;
}

footer {
  height: 177px;
  background-color: #005c7b;
}

footer > .container {
  padding: 0 16px 0 13px;
}

.copyright {
  margin-bottom: 13px;
  padding-top: 14px;
  font-size: 24px;
  line-height: 30px;
  color: #eeeeed;
  text-align: justify;
}

.copyright > p {
  margin-bottom: 10px;
}

footer > div > a {
  font-size: 18px;
  color: #eeeeed;
  text-decoration: underline;
}